.colored-border {
    background-color: var(--zuehlke-bright-green);
    transition: background-color 1s;
}

.colored-border:hover {
    background-color: var(--zuehlke-blue);
}

@keyframes move {
    0% {
        transform: translateY(-100%);
    }
    70% {
        background-color: var(--zuehlke-bright-green);
        transform: translateY(0);
    }
    100% {
        background-color: var(--zuehlke-blue);
    }
}

@keyframes left-to-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(400%);
    }
}

.moving-container {
    background-color: var(--zuehlke-bright-green);
    animation-name: move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
}

.move-side-to-side {
    width: 180px;
    margin-top: 1rem;
    background-color: var(--zuehlke-bright-green);
    animation-duration: 3s;
    animation-name: left-to-right;
    animation-iteration-count: infinite;
}

.stacking-container {
    position: relative;
    left: 200px;
    height: 150px;
}

.stacking-container div {
    position: absolute;
    width: 200px;
    padding: 10px 20px;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    background-color: var(--zuehlke-blue);
}

.semantic-elements-container {
    display: flex;
    flex-direction: column;
    height: 220px;
}

.semantic-elements-container .item {
    padding: 10px;
    border-radius: 10px;
}
