.flex-example-parent-horizontal {
    display: flex;
    width: 100%;
    background-color: var(--zuehlke-bright-blue);
}

.flex-example-parent-horizontal-medium {
    height: 100px;
}

.flex-example-parent-horizontal > div {
    background-color: var(--zuehlke-orange);
    border: 4px solid var(--zuehlke-green);
    padding: 0.5rem;
}

.person-tile {
    width: 250px;
    border: 1px solid #9DA2A8;
    padding: 16px;
    border-radius: 5px;
}

.personal-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.personal-header img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 0 !important;
}

.personal-header h1 {
    color: black;
    font-size: 18px;
    text-align: left;
    margin: 0 !important;
}

.personal-header p  {
    font-size: 12px;
    text-align: left;
    margin: 0 !important;
}

.person-tile hr {
    border: 1px solid #9DA2A8;
    margin: 16px 0;
}

.product {
    display: flex;
    gap: 16px;
    align-items: center;
}

.product:not(:first-of-type) {
    margin-top: 8px;
}

.person-tile h2 {
    color: black;
    font-size: 16px;
    text-align: left;
}

.product .product-title {
    color: black;
    font-size: 14px;
    font-weight: normal !important;
}

.product p {
    color: black;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    margin: 0 !important;
}

.product img {
    height: 56px;
    border-radius: 5px;
    margin: 0 !important;
}
